<section class="red">
        <div class="container width">
            <div class="one unit row">
                <h1>Add Sponsor</h1>
            </div>
            <div class="one unit row">
                <h3>Create a new sponsor account.</h3>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container width">
            <div class="one unit row">
                <h2>New Sponsor</h2>
            </div>
            <div class="one unit row">
                <h3>Fill out sponsorship details</h3>
            </div>
            <div class="half unit row">
                <p>
                    <input type="text" placeholder="Company Name" [(ngModel)]="sponsorName">
                </p>
            </div>
            <div class="half unit row">
                <p>
                    <input type="text" placeholder="Tier Name" [(ngModel)]="tier">
                </p>
            </div>
            <div class="one unit row">
                <p>
                    <input type="text" placeholder="Maximum Number of Recruiters" [(ngModel)]="maxRecruiters">
                </p>
            </div>
            <div class="one unit row">
                <p>The sponsor's benefits:</p>
            </div>
            <div *ngFor="let benefit of benefits; let i = index" class="half unit row">
                <label>
                    <input type="checkbox" value="Company Name" [(ngModel)]="selectedBenefits[i]">
                    {{ benefit.name }}
                </label>
            </div>
            <div class="one unit row">
                <p>
                    <a (click)="addBenefit()">Add New Benefit</a>
                </p>
            </div>
            <div class="one unit row">
                <p>
                    <a (click)="saveSponsor()">Save</a>
                </p>
            </div>
        </div>
    </section>
    