<section class="red">
    <div class="container a4">
        <div class="one half unit row">
            <div class="unit column grows">
                <h5>
                    Changes are saved automatically.<br>
                </h5>
            </div>
        </div>
        <div class="one half unit row">
            <div class="unit column grows">
                <p>
                    <a rel="prev" [routerLink]="[ '/', guid ]">Return to Portal</a>
                </p>
            </div>
        </div>
    </div>
</section>