<section class="red">
    <div class="container width">
        <div class="one unit row">
            <h1>Competitions and Events</h1>
        </div>
        <div class="one unit row">
            <h3>Give hackers a challenge.</h3>
        </div>
        <div class="half unit row">
            <div class="twelve unit column">
                <p>
                    We are more than happy to offer advice and guidance as to
                    what sort of events and competitions tend to go down well.
                </p>
            </div>
        </div>
    </div>
</section>

<section *ngIf="canAwardThemedPrize">
    <div class="container width">
        <div class="one unit row">
            <h2>Themed Prize</h2>
        </div>
        <div class="one unit row">
            <h3>Set whatever challenge you want to.</h3>
        </div>
        <div class="one half unit row">
            <div class="twelve unit column">
                <p>
                    A themed prize can be for whatever challenge you want. This
                    can include not just software engineering but also data
                    analysis challenges, or design problems, for example. If you
                    plan to run a workshop, it may be a good idea to tie it in
                    with the competition &mdash; for example, if you were to run
                    a competition centred around blockchain, giving a workshop
                    on blockchain technology is likely to be well-received.
                </p>
            </div>
        </div>
        <div class="half unit row">
            <fieldset>
                <label>
                    Do you plan to run a themed prize?
                    <select [(ngModel)]="doingThemedPrize" (ngModelChange)="onDoingThemedPrizeChanged($event)">
                        <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </label>
            </fieldset>
        </div>
        <div class="half unit row" *ngIf="doingThemedPrize">
            <fieldset>
                <input type="text" [(ngModel)]="themedPrize.title" (ngModelChange)="saveEventsState()" placeholder="Title">
                <input type="text" [(ngModel)]="themedPrize.description" (ngModelChange)="saveEventsState()" placeholder="Description">
                <input type="text" [(ngModel)]="themedPrize.prizes" (ngModelChange)="saveEventsState()" placeholder="Prize(s)">
            </fieldset>
        </div>
    </div>
</section>

<section *ngIf="canRunSideEvent">
    <div class="container width">
        <div class="one unit row">
            <h2>Register a Side Event</h2>
        </div>
        <div class="one unit row">
            <h3>Give hackers a fun break from their hack.</h3>
        </div>
        <div class="one half unit row">
            <div class="twelve unit column">
                <p>
                    A side-event can be anything you want! Examples include a
                    code-in-the-dark competition; hosting a dinner for hackers
                    before the night before the hackathon; or even just
                    cup-stacking. We are more than happy to discuss any ideas
                    you may have and will be as accommodating as we can be with
                    them.
                </p>
            </div>
        </div>
        <div class="half unit row">
            <fieldset>
                <label>
                    Do you plan to run a side-event?
                    <select [(ngModel)]="doingSideEvent" (ngModelChange)="onDoingSideEventChanged($event)">
                        <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </label>
            </fieldset>
        </div>
        <div class="half unit row" *ngIf="doingSideEvent">
            <fieldset>
                <input type="text" [(ngModel)]="sideEvent.title" (ngModelChange)="saveEventsState()" placeholder="Title">
                <input type="text" [(ngModel)]="sideEvent.description" (ngModelChange)="saveEventsState()" placeholder="Description">
            </fieldset>
        </div>
    </div>
</section>

<section *ngIf="canRunHardwareApiPrize">
    <div class="container width">
        <div class="one unit row">
            <h2>Run an API Prize</h2>
        </div>
        <div class="one unit row">
            <h3>Encourage hackers to build on your product.</h3>
        </div>
        <div class="two unit row">
            <div class="twelve unit column">
                <p>
                    An API Prize is a sponsor-run competition based around one
                    of your products. To clarify, whilst the API Prize was 
                    originally intended as a hack around a company's API, we
                    have extended it to all software and hardware products
                    produced by the sponsor.
                </p>
                <p>
                    Hackers always love to try out new technologies, and
                    providing an API prize can encourage them to try yours!
                    Past sponsors have seen continued adoption of their service
                    after the event. The competition should highlight the
                    most exciting aspects of your product whilst being open-ended
                    enough to fit into a variety of projects.
                </p>
            </div>
        </div>
        <div class="half unit row">
            <fieldset>
                <label>
                    Do you plan to run a hardware or API prize?
                    <select [(ngModel)]="doingHardwareApiPrize" (ngModelChange)="onDoingHardwareApiPrizeChanged($event)">
                        <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </label>
            </fieldset>
        </div>
        <div class="half unit row" *ngIf="doingHardwareApiPrize">
            <fieldset>
                <input type="text" [(ngModel)]="hardwareApiPrize.title" (ngModelChange)="saveEventsState()" placeholder="Title">
                <input type="text" [(ngModel)]="hardwareApiPrize.description" (ngModelChange)="saveEventsState()" placeholder="Description">
                <input type="text" [(ngModel)]="hardwareApiPrize.prizes" (ngModelChange)="saveEventsState()" placeholder="Prizes">
            </fieldset>
        </div>
    </div>
</section>

<app-changes-saved></app-changes-saved>
