<div component="home-link" rows="0.5"></div>
<div component="changes-saved" rows="1.0"></div>
<h1 rows="1.0">Competitions and Events</h1>
<p rows="1.0">
  We are more than happy to offer advice and guidance as to
  what sort of events and competitions tend to work best.
</p>
<h3 rows="1.0" *ngIf="canAwardThemedPrize">Themed Prize</h3>
<div class="content" rows="2.5" *ngIf="canAwardThemedPrize">
  <p>
    A themed prize can be for whatever challenge you want. This
    can include not just software engineering but also data
    analysis challenges, or design problems, for example. If you
    plan to run a workshop, it may be a good idea to tie it in
    with the competition—for example, if you were to run
    a competition centred around blockchain, giving a workshop
    on blockchain technology is likely to be well-received.
  </p>
  <select *ngIf="doingThemedPrizeUnset" [(ngModel)]="doingThemedPrize" (ngModelChange)="onDoingThemedPrizeChanged($event)">
    <option [ngValue]="false">-- Select --</option>
    <option [ngValue]="false">We do not plan to run a themed prize</option>
    <option [ngValue]="true">We plan to run a themed prize</option>
  </select>
  <select *ngIf="!doingThemedPrizeUnset" [(ngModel)]="doingThemedPrize" (ngModelChange)="onDoingThemedPrizeChanged($event)">
    <option [ngValue]="false">We do not plan to run a themed prize</option>
    <option [ngValue]="true">We plan to run a themed prize</option>
  </select>
</div>
<div rows="2.0" grid="rows" *ngIf="doingThemedPrize">
  <input rows="0.5" type="text" [(ngModel)]="themedPrize.title" (ngModelChange)="saveEventsState()" placeholder="Title">
  <input rows="0.5" type="text" [(ngModel)]="themedPrize.description" (ngModelChange)="saveEventsState()" placeholder="Description">
  <input rows="0.5" type="text" [(ngModel)]="themedPrize.prizes" (ngModelChange)="saveEventsState()" placeholder="Prize(s)">
</div>
<h3 rows="1.0" *ngIf="canRunSideEvent">Register a Side Event</h3>
<div class="content" rows="2.0" *ngIf="canRunSideEvent">
  <p>
    A side-event can be anything you want! Examples include a
    code-in-the-dark competition; hosting a dinner for hackers
    before the night before the hackathon; or even just
    cup-stacking. We are more than happy to discuss any ideas
    you may have and will be as accommodating as we can be with
    them.
  </p>
  <select *ngIf="doingSideEventUnset" [(ngModel)]="doingSideEvent" (ngModelChange)="onDoingSideEventChanged($event)">
    <option [ngValue]="false">-- Select --</option>
    <option [ngValue]="false">We do not plan to run a side-event</option>
    <option [ngValue]="true">We plan to run a side-event</option>
  </select>
  <select *ngIf="!doingSideEventUnset" [(ngModel)]="doingSideEvent" (ngModelChange)="onDoingSideEventChanged($event)">
    <option [ngValue]="false">We do not plan to run a side-event</option>
    <option [ngValue]="true">We plan to run a side-event</option>
  </select>
</div>
<div rows="1.5" grid="rows" *ngIf="doingSideEvent">
  <input rows="0.5" type="text" [(ngModel)]="sideEvent.title" (ngModelChange)="saveEventsState()" placeholder="Title">
  <input rows="0.5" type="text" [(ngModel)]="sideEvent.description" (ngModelChange)="saveEventsState()" placeholder="Description">
</div>
<h3 rows="1.0">Run a Product Prize</h3>
<div class="content" rows="2.5">
  <div>
    <p>
        A Product Prize is a sponsor-run competition based around one
        of your products, perhaps the best use of your API or some
        tech which you have brought to the event.
    </p>
    <p>
        Hackers always love to try out new technologies, and
        providing a Product Prize can encourage them to try yours!
        Past sponsors have seen continued adoption of their service
        after the event. The competition should highlight the
        most exciting aspects of your product whilst being open-ended
        enough to fit into a variety of projects.
    </p>
  </div>
  <select *ngIf="doingHardwareApiPrizeUnset" [(ngModel)]="doingHardwareApiPrize" (ngModelChange)="onDoingHardwareApiPrizeChanged($event)">
    <option [ngValue]="false">-- Select --</option>
    <option [ngValue]="false">We do not plan to run a product prize</option>
    <option [ngValue]="true">We plan to run a product prize</option>
  </select>
  <select *ngIf="!doingHardwareApiPrizeUnset" [(ngModel)]="doingHardwareApiPrize" (ngModelChange)="onDoingHardwareApiPrizeChanged($event)">
    <option [ngValue]="false">We do not plan to run a product prize</option>
    <option [ngValue]="true">We plan to run a product prize</option>
  </select>
</div>
<div rows="2.0" grid="rows" *ngIf="doingHardwareApiPrize">
  <input rows="0.5" type="text" [(ngModel)]="hardwareApiPrize.title" (ngModelChange)="saveEventsState()" placeholder="Title">
  <input rows="0.5" type="text" [(ngModel)]="hardwareApiPrize.description" (ngModelChange)="saveEventsState()" placeholder="Description">
  <input rows="0.5" type="text" [(ngModel)]="hardwareApiPrize.prizes" (ngModelChange)="saveEventsState()" placeholder="Prizes">
</div>
<div rows="0.5" component="home-button"></div>
