<app-home-link></app-home-link>
<app-changes-saved></app-changes-saved>
<section>
    <div class="container a4">
        <div class="three unit row">
            <div class="unit column grows">
                <h1>Competitions and Events</h1>
            </div>
        </div>
        <div class="two unit row">
            <div class="unit column grows">
                <p>
                    We are more than happy to offer advice and guidance as to
                    what sort of events and competitions tend to work best.
                </p>
            </div>
        </div>
        <div class="two unit row" *ngIf="canAwardThemedPrize">
            <div class="unit column grows">
                <h3>Themed Prize</h3>
            </div>
        </div>
        <div class="three unit row" *ngIf="canAwardThemedPrize">
            <div class="unit column grows">
                <p>
                    A themed prize can be for whatever challenge you want. This
                    can include not just software engineering but also data
                    analysis challenges, or design problems, for example. If you
                    plan to run a workshop, it may be a good idea to tie it in
                    with the competition—for example, if you were to run
                    a competition centred around blockchain, giving a workshop
                    on blockchain technology is likely to be well-received.
                </p>
            </div>
        </div>
        <div class="one unit persistent row content" *ngIf="canAwardThemedPrize">
            <div class="four unit column">
                <select [(ngModel)]="doingThemedPrize" (ngModelChange)="onDoingThemedPrizeChanged($event)">
                    <option [ngValue]="false">We do not plan to run a themed prize</option>
                    <option [ngValue]="true">We plan to run a themed prize</option>
                </select>
            </div>
        </div>
        <div class="one half unit persistent row content" *ngIf="doingThemedPrize" style="padding-bottom: 35px">
            <div class="three unit column">
                <input type="text" [(ngModel)]="themedPrize.title" (ngModelChange)="saveEventsState()" placeholder="Title">
            </div>
            <div class="five unit column">
                <input type="text" [(ngModel)]="themedPrize.description" (ngModelChange)="saveEventsState()" placeholder="Description">
            </div>
            <div class="three unit column">
                <input type="text" [(ngModel)]="themedPrize.prizes" (ngModelChange)="saveEventsState()" placeholder="Prize(s)">
            </div>
        </div>
        <div class="two unit row" *ngIf="canRunSideEvent">
            <div class="unit column grows">
                <h3>Register a Side Event</h3>
            </div>
        </div>
        <div class="two half unit row" *ngIf="canRunSideEvent">
            <div class="unit column grows">
                <p>
                    A side-event can be anything you want! Examples include a
                    code-in-the-dark competition; hosting a dinner for hackers
                    before the night before the hackathon; or even just
                    cup-stacking. We are more than happy to discuss any ideas
                    you may have and will be as accommodating as we can be with
                    them.
                </p>
            </div>
        </div>
        <div class="one unit persistent row content" *ngIf="canRunSideEvent">
            <div class="three half unit column">
                <select [(ngModel)]="doingSideEvent" (ngModelChange)="onDoingSideEventChanged($event)">
                    <option [ngValue]="false">We do not plan to run a side-event</option>
                    <option [ngValue]="true">We plan to run a side-event</option>
                </select>
            </div>
        </div>
        <div class="one unit persistent row content" *ngIf="doingSideEvent" style="padding-bottom: 35px">
            <div class="three unit column">
                <input type="text" [(ngModel)]="sideEvent.title" (ngModelChange)="saveEventsState()" placeholder="Title">
            </div>
            <div class="five unit column">
                <input type="text" [(ngModel)]="sideEvent.description" (ngModelChange)="saveEventsState()" placeholder="Description">
            </div>
        </div>
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Run a Product Prize</h3>
            </div>
        </div>
        <div class="three half unit row">
            <div class="unit column grows">
                <p>
                    A Product Prize is a sponsor-run competition based around one
                    of your products, perhaps the best use of your API or some
                    tech which you have brought to the event.
                </p>
                <p>
                    Hackers always love to try out new technologies, and
                    providing a Product Prize can encourage them to try yours!
                    Past sponsors have seen continued adoption of their service
                    after the event. The competition should highlight the
                    most exciting aspects of your product whilst being open-ended
                    enough to fit into a variety of projects.
                </p>
            </div>
        </div>
        <div class="one unit persistent row content">
            <div class="four half unit column">
                <select [(ngModel)]="doingHardwareApiPrize" (ngModelChange)="onDoingHardwareApiPrizeChanged($event)">
                    <option [ngValue]="false">We do not plan to run a Product prize</option>
                    <option [ngValue]="true">We plan to run a Product prize</option>
                </select>
            </div>
        </div>
        <div class="one unit persistent row content" *ngIf="doingHardwareApiPrize" style="padding-bottom: 35px">
            <div class="three unit column">
                <input type="text" [(ngModel)]="hardwareApiPrize.title" (ngModelChange)="saveEventsState()" placeholder="Title">
            </div>
            <div class="five unit column">
                <input type="text" [(ngModel)]="hardwareApiPrize.description" (ngModelChange)="saveEventsState()" placeholder="Description">
            </div>
            <div class="three unit column">
                <input type="text" [(ngModel)]="hardwareApiPrize.prizes" (ngModelChange)="saveEventsState()" placeholder="Prizes">
            </div>
        </div>
        <div class="one half unit row">
            <app-home-button class="one unit column">
            </app-home-button>
        </div>
    </div>
</section>
