<section>
    <div class="container width">
        <div class="one unit row">
            <h1>Sponsors' Portal</h1>
        </div>
        <div class="one unit row">
            <h3>What You Need To Do</h3>
        </div>
        <div class="one unit row">
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'people' ]">Let Us Know Who's Coming</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'social-media' ]">Provide Social Media Assets</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'workshops' ]">Tell us about any workshops</a>
            </div>
        </div>
        <div class="one unit row">
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'tech' ]">Register your tech with us</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'swag' ]">Ensure your swag is OK</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'events' ]">Plan any competitions and events</a>
            </div>
        </div>
        <div class="one unit row">
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'presentation' ]">Send us your presentation</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'details' ]">Confirm your details</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'tips' ]">Read our tips and tricks</a>
            </div>
        </div>
    </div>
</section>

<section class="red">
    <div class="container width">
        <div class="one unit row">
        <h1>Important Information</h1>
        </div>
        <div class="one unit row">
            <h3>
            When: <span class="pixel">Sat 20/01/18 &ndash; Sun 21/01/18</span><br>
            Where: <span class="pixel">2 Wheeler St, Cambridge, CB2 3QB</span>
            </h3>
        </div>
        <div class="one half unit row">
            <p>
                The opening ceremony will be at midday, but we recommend sponsors arrive earlier from
                07:00 in order to set up.<br>
                <a rel="next" href="/terms-and-conditions">View the full schedule</a>
            </p>
        </div>
    </div>
</section>

<section id="sponsorship-tiers">
        <div class="container width">
            <div class="one unit row">
                <h2>
                    Your Sponsorship Benefits
                </h2>
            </div>
            <div class="one unit row">
                <h3>Your sponsorship tier: <span class="pixel">{{ sponsorshipTier }}</span></h3>
            </div>
            <div class="body">
                <div class="three half unit row">
                    <div class="columns">
                        <ul>
                            <li *ngFor="let benefit of sponsorshipBenefits">
                                {{ benefit.name }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>