<section>
    <div class="container width">
        <div class="one unit row">
            <h1>Sponsors' Portal</h1>
        </div>
        <div class="one unit row">
            <h3>What You Need To Do</h3>
        </div>
        <div class="five unit row">
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'people' ]">Tell Us Who You're Bringing</a>
            </div>
            <div class="four unit column">
                <a rel="next" [routerLink]="[ 'social-media' ]">Provide Social Media Assets</a>
            </div>
        </div>
    </div>
</section>

<section class="red">
    <div class="container width">
        <div class="one unit row">
        <h1>Important Information</h1>
        </div>
        <div class="one unit row">
            <h3>
            When: <span class="pixel">Sat 20/01/18 &ndash; Sun 21/01/18</span><br>
            Where: <span class="pixel">2 Wheeler St, Cambridge, CB2 3QB</span>
            </h3>
        </div>
        <div class="one half unit row">
            <p>
                The opening ceremony will be at midday, but we recommend sponsors arrive earlier from
                07:00 in order to set up.<br>
                <a rel="next" href="/terms-and-conditions">View the full schedule</a>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container width">
        <div class="one unit row">
            <h1>Your Sponsorship Benefits</h1>
        </div>
        <div class="one unit row">
            <h3>Your sponsorship tier: <span class="pixel">{{ sponsorshipTier }}</span></h3>
        </div>
    </div>
</section>