<div rows="5.0" columns="5.0" grid="rows">
  <h2 rows="1.0">Checklist</h2>
  <ul rows="4.0">
    <li *ngFor="let link of todoLinks">
      <div *ngIf="!link.care">
        {{ link.text }}&nbsp;<a rel="next" [routerLink]="[ link.pageUrl ]">Change</a>
      </div>
      <div *ngIf="link.checked && link.care">
        <input type="checkbox" checked disabled />&nbsp;
        <a rel="next" [routerLink]="[ link.pageUrl ]"><s>{{ link.text }}</s></a>
      </div>
      <div *ngIf="!link.checked && link.care">
        <input type="checkbox" disabled />&nbsp;
        <a rel="next" [routerLink]="[ link.pageUrl ]">{{ link.text }}</a>
      </div>
    </li>
  </ul>
</div>
<div rows="3.5" columns="4.5" grid="rows">
  <h2 rows="1.0">Key Info</h2>
  <h3 rows="2.5">
      <time datetime="2018-01-20">Saturday and Sunday<br>19/01/19–20/01/19</time><br>
      <address>2 Wheeler St<br>Cambridge<br>CB2 3QB</address>
  </h3>
</div>
<div rows="2.5" columns="4.5" grid="rows">
  <h2 rows="1.0">Schedule</h2>
  <div rows="1.5">
    <p>The schedule is being updated as we receive more information from sponsors.</p>
    <a rel="next" [routerLink]="[ '/', guid, 'schedule' ]">View the schedule</a>
  </div>
</div>
<h2 rows="1.0" columns="all">Tasks</h2>
<a class="icon" *ngFor="let link of portalLinks" columns="1.5" rows="1.5" rel="next" [routerLink]="[ link.pageUrl ]">
  <svg width="28.5pt" height="28.5pt" viewBox="0 0 11 11" preserveAspectRatio="xMidYMid" class="icon">
    <clipPath [attr.id]="link.pageUrl + 'Clip'">
      <use x="0" y="0" attr.xlink:href="/assets/images/icons/{{ link.pageUrl }}.svg#icon"/>
    </clipPath>
    <use x="0" y="0" attr.clip-path="url(#{{ link.pageUrl + 'Clip' }})" attr.xlink:href="/assets/images/icons/{{ link.pageUrl }}.svg#icon"/>
  </svg>
  <br>{{ link.text }}
</a>
<div rows="7.5" columns="all" grid="rows">
  <h2 rows="1.0">Benefits</h2>
  <h3 rows="1.0">Your sponsorship tier is <span class="pixel">{{ sponsorshipTier }}</span></h3>
  <ul rows="5.5" class="text-columns">
    <li *ngFor="let benefit of sponsorshipBenefits">{{ benefit.name }}</li>
  </ul>
</div>
