<section>
    <div class="container a4">
        <div class="three unit row">
            <div class="unit column grows">
                <h1>Opening Ceremony Presentation</h1>
            </div>
        </div>
        <div class="two unit row">
            <div class="unit column grows">
                <h4>Your Slides</h4>
            </div>
        </div>
        <div class="three half unit row">
            <div class="unit column grows">
                <p>
                    Your 5 minute presentation at the opening ceremony is an
                    opportunity to get your company in front of hackers from
                    the get-go. Only a handful of sponsors get a slot in the
                    opening ceremony, so you get exposure ahead of most.
                </p>
                <p>
                    We recommend you keep the presentation punchy and to the
                    point. Hackers will engage better if you focus on the tech,
                    not the company or recruitment. Mention any workshops
                    and events you will be running and make it clear how hackers
                    can get involved hacking on your products.
                </p>
            </div>
        </div>
        <div class="one half unit row" *ngIf="uploadInProgress">
            <div class="unit column grows">
                <p>
                    Your file is being uploaded…
                </p>
            </div>
        </div>
        <div class="one half unit row" *ngIf="!uploadInProgress && (!presentation || uploadNewFile)">
            <div class="unit column grows">
                <p>
                    Please send us the slides as a Keynote, PowerPoint, or PDF file.
                </p>
            </div>
        </div>
        <div class="two unit row" *ngIf="!uploadInProgress && (presentation && !uploadNewFile)">
            <div class="unit column grows">
                <p>
                    You've already uploaded a slideshow for your presentation.
                </p>
                <a rel="diagonal" [href]="presentation.url">{{ presentation.name }}</a>
            </div>
        </div>
        <div class="one half unit row" *ngIf="!uploadInProgress && (presentation && !uploadNewFile)">
            <div class="two unit column">
                <button (click)="uploadNewFile = true">Upload New File</button>
            </div>
        </div>
        <div class="one half unit row" *ngIf="!uploadInProgress && (!presentation || uploadNewFile)">
            <div class="three unit column">
                <input type="file" (change)="uploadFile($event)" value="Upload File" placeholder="Upload File" accept=".pptx,.ppt,.pdf,.key">
            </div>
        </div>
    </div>
</section>

<app-changes-saved></app-changes-saved>
