<div component="home-link" rows="0.5"></div>
<div component="changes-saved" rows="1.0"></div>
<h1 rows="2.0">Opening Ceremony <wbr>Presentation</h1>
<div rows="2.0">
  <p>
      Your 5 minute presentation at the opening ceremony is an
      opportunity to get your company in front of hackers from
      the get-go. Only a handful of sponsors get a slot in the
      opening ceremony, so you get exposure ahead of most.
  </p>
  <p>
      We recommend you keep the presentation punchy and to the
      point. Hackers will engage better if you focus on the tech,
      not the company or recruitment. Mention any workshops
      and events you will be running and make it clear how hackers
      can get involved hacking on your products.
  </p>
</div>
<p *ngIf="uploadInProgress" rows="1.0">
  Your file is being uploaded…
</p>
<div *ngIf="!uploadInProgress && (presentation && !uploadNewFile)" rows="1.0">
  <p>
    You've already uploaded a slideshow for your presentation.
  </p>
  <a rel="external" [href]="presentation.url">{{ presentation.name }}</a>
  <button (click)="uploadNewFile = true">Upload new file &rarr;</button>
</div>
<div *ngIf="!uploadInProgress && (!presentation || uploadNewFile)" rows="1.0">
  <p>
    Please send us the slides as a Keynote, PDF, or PowerPoint file.
  </p>
  <input type="file" (change)="uploadFile($event)" value="Upload file." placeholder="Upload file." accept=".pptx,.ppt,.pdf,.key">
</div>
<div rows="0.5" component="home-button"></div>
