<header color="black" layout="width" grid="grid" rows="2.5">
  <img columns="2.5" draggable="false" src="/assets/images/logo.svg" alt="Hack Cambridge Logo"/>
  <div columns="5.5">
    <h1 id="wordmark">Hack Cambridge<br><span class="pixel">Sponsors' Portal</span></h1>
  </div>
</header>
<main layout="width">
  <section *ngIf="companyName" color="red" grid="grid" rows="0.5">
    <h3 columns="8.0">Hi {{companyName}}!</h3>
  </section>
  <router-outlet></router-outlet>
</main>
<footer grid="rows" layout="width" rows="2.0">
  <div>
    <ul>
      <li>
        <a rel="next" href="/terms-and-conditions">Terms and Conditions</a>
      </li>
      <li>
        <a rel="next" href="/privacy-policy">Privacy Policy</a>
      </li>
      <li>
        <a rel="next" href="/faqs">FAQs</a>
      </li>
      <li>
        <a rel="next" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>
      </li>
    </ul>
    <small>&copy; Hack Cambridge {{ year }}. All rights reserved.</small>
  </div>
</footer>
