<section>
    <div class="container a4">
        <div class="three unit row">
            <div class="unit column grows">
                <h1>Schedule</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container a4">
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Friday 19<sup>th</sup> January</h3>
            </div>
        </div>
        <div class="three half unit row">
            <div class="one unit column">
                <h5 class="pixel">During the day</h5>
            </div>
            <div class="unit column grows">
                <p>
                    We will be setting up the venue. Sponsors are welcome to
                    deliver any equipment or swag on this day that they wish to
                    but <em>it must arrive between 10:00–18:00</em>, as these are
                    the only times we have the venue. We are unable to take
                    responsiblity for anything you leave overnight in the venue.
                </p>
                <p>
                    People can also come along to set up or look around the
                    venue, but please let us know in advance.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container a4">
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Saturday 20<sup>th</sup> January</h3>
            </div>
        </div>
        <div class="three half unit row">
            <div class="one unit column">
                <h5 class="pixel">08:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Doors open to sponsors</h4>
                <p>You are welcome to arrive later if you wish.</p>
                <p>All trestle tables will already be set up for you when you arrive.</p>
                <p><em>The previous schedule said 08:30.</em></p>
            </div>
        </div>
        <div class="four unit row">
            <div class="one unit column">
                <h5 class="pixel">09:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Doors open to hackers</h4>
                <p>We expect most hackers to arrive closer to 10:00, but some will arrive early.</p>
                <p>Hackers tend to hang around the sponsors' area looking for swag between this time and the opening ceremony. It's a good chance to speak to them at your stalls.</p>
            </div>
        </div>
        <div class="seven unit row">
            <div class="one unit column">
                <h5 class="pixel">11:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Opening Ceremony<br><i>Corn Exchange</i></h4>
                <p>Sponsors not participating are welcome to watch.</p>
                <ul><h6>Run of show</h6>
                    <li>11:00—Welcome from Hack Cambridge Team</li>
                    <li>11:05—Cambridge Consultants presentation</li>
                    <li>11:10—Improbable presentation</li>
                    <li>11:15—MLH presentation</li>
                    <li>11:25—Mentoring System Explained</li>
                    <li>11:30—Microsoft presentation</li>
                    <li>11:35—Sophos presentation</li>
                    <li>11:40—Good luck to hackers!</li>
                    <li>11:45—Presentation ends</li>
                </ul>
            </div>
        </div>
        <div class="five half unit row">
            <div class="one unit column">
                <h5 class="pixel">12:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Hacking begins<br><i>Corn Exchange</i></h4>
                <p>It's a good idea for mentors to proactively speak to hackers and offer help during hacking. There will also be a ticketing system to match hackers with mentors.</p>
                <h4>Lunch<br><i>Guild Hall</i></h4>
                <p>Lunch is served in Food Area until 13:00: this is right next to the main sponsor stalls, so you should get a lot of attention!<p>
            </div>
        </div>
        <div class="five half unit row">
            <div class="one unit column">
                <h5 class="pixel">13:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Product Demos<br><i>Guild Hall</i></h4>
                <p>These are shorter, tech-focussed talks. We will announce each talk on stage just before it begins.</p>
                <ul><h6>Current schedule</h6>
                    <li>13:00—Amazon: Alexa</li>
                    <li>13:15—Microsoft: Cognitive Services in Action</li>
                    <li>13:30—Avast: Biggest threats of 2017</li>
                    <li>13:45—FeatureSpace: JavaScript Collector</li>
                    <li>14:00—Product demos finish</li>
                </ul>
            </div>
        </div>
        <div class="six unit row">
            <div class="one unit column">
                <h5 class="pixel">14:40</h5>
            </div>
            <div class="unit column grows">
                <h4>Workshops<br><i>Guild Hall</i></h4>
                <p>These are longer, tech-focussed talks. We will announce each talk on stage just before it starts.</p>
                <ul><h6>Current schedule</h6>
                    <li>14:05—Cambridge Consultants</li>
                    <li>14:40—Google</li>
                    <li>15:15—Microsoft</li>
                    <li>15:50—Improbable</li>
                    <li>17:35—ARK.io</li>
                    <li>18:05—Workshops finish</li>
                </ul>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">18:45</h5>
            </div>
            <div class="unit column grows">
                <h4>DataScope pre-dinner speech<br><i>Corn Exchange</i></h4>
            </div>
        </div>
        <div class="three unit row">
            <div class="one unit column">
                <h5 class="pixel">19:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Dinner<br><i>Guild Hall</i></h4>
                <p>Dinner is served in the Food Area next to sponsor stalls, so again, expect lots of footfall!</p>
            </div>
        </div>
        <div class="three half unit row">
            <div class="one unit column">
                <h5 class="pixel">20:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Sponsors' reception<br><i>Corn Exchange</i></h4>
                <p>To say thank you to our sponsors, we're putting on a champagne reception! Join us for drinks and snacks in St John's bar.</p>
                <p>Hackers will be participating in the MLH Capture the Flag competition.</p>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">21:00</h5>
            </div>
            <div class="unit column grows">
                <h4>TPP presentation<br><i>Corn Exchange</i></h4>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">21:15</h5>
            </div>
            <div class="unit column grows">
                <ul>
                  <h4>MLH !Light game<br><i>Guild Hall</i></h4>
                </ul>
            </div>
        </div>
        <div class="three half unit row">
            <div class="one unit column">
                <h5 class="pixel">22:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Hacker Sleeping area opens<br><i>Guild Hall</i></h4>
                <p>The sleeping area is next to the sponsors' stalls.</p>
                <p>Many hackers will choose to work through the night instead.</p>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">23:45</h5>
            </div>
            <div class="unit column grows">
                <h4>FeatureSpace Midnight Snack speech<br><i>Corn Exchange</i></h4>
            </div>
        </div>
    </div>
</section>
<section class="black">
    <div class="container a4">
        <div class="two half unit row">
            <div class="unit column grows">
                <h3>Getting some sleep</h3>
                <p>Mentors are not expected to stay all night. You can stay if you wish, or leave well before this time. We recommend mentors be back for 09:00 since people will likely want assistance in the final few hours leading up to the completion of their project.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container a4">
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Sunday 21<sup>st</sup> January</h3>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">00:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Midnight Snack<br><i>Guild Hall</i></h4>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">08:30</h5>
            </div>
            <div class="unit column grows">
                <h4>Breakfast<br><i>Guild Hall</i></h4>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">11:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Accenture presentation<br><i>Corn Exchange</i></h4>
            </div>
        </div>
        <div class="six unit row">
            <div class="one unit column">
                <h5 class="pixel">12:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Hacking stops<br><i>Corn Exchange</i></h4>
                <h4>Judging briefing<br><i>Corn Exchange</i></h4>
                <p>We will meet sponsors in St John's bar to explain how judging works for sponsors who want to participate.</p>
                <h4>Lunch<br><i>Guild Hall</i></h4>
            </div>
        </div>
        <div class="three unit row">
            <div class="one unit column">
                <h5 class="pixel">12:45</h5>
            </div>
            <div class="unit column grows">
                <h4>Expo<br><i>Corn Exchange</i></h4>
                <p>Judging begins.</p>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">14:15</h5>
            </div>
            <div class="unit column grows">
                <h4>Finalists announced<br><i>Corn Exchange</i></h4>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">14:30</h5>
            </div>
            <div class="unit column grows">
                <h4>Finalist presentations<br><i>Corn Exchange</i></h4>
            </div>
        </div>
        <div class="three unit row">
            <div class="one unit column">
                <h5 class="pixel">16:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Deliberation<br><i>Corn Exchange</i></h4>
                <p>Headline judges will choose the winners and runners up.</p>
            </div>
        </div>
        <div class="seven half unit row">
            <div class="one unit column">
                <h5 class="pixel">16:15</h5>
            </div>
            <div class="unit column grows">
                <h4>Closing ceremony<br><i>Corn Exchange</i></h4>
                <ul><h6>Tentative schedule</h6>
                    <li>16:15—Event summary</li>
                    <li>16:20—Amazon: Best Alexa Skill</li>
                    <li>16:22—ARK: Best use of ARK blockchain</li>
                    <li>16:23—ARM: Best Hack in Hardware</li>
                    <li>16:26—Avast Hack Challenge</li>
                    <li>16:28—Microsoft Vision Cognitive Challenge</li>
                    <li>16:30—Microsoft Vision Cognitive Challenge 2</li>
                    <li>16:32—TPP's Health and Society Hack'</li>
                    <li>16:34—Droit Hack Challenge</li>
                    <li>16:36—Improbable Best Simulation</li>
                    <li>16:38—Accenture prize</li>
                    <li>16:45—Hack Cambridge winners announced</li>
                    <li>16:55—MLH closing</li>
                    <li>17:00—Thanks and come again</li>
                </ul>
            </div>
        </div>
        <div class="two half unit row">
            <div class="one unit column">
                <h5 class="pixel">17:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Event finishes</h4>
                <li>Hackers leave. The venue completely closes to hackers at 18:00.</li>
            </div>
        </div>
        <div class="two unit row">
            <div class="one unit column">
                <h5 class="pixel">17:30</h5>
            </div>
            <div class="unit column grows">
                <h4>Clean-up</h4>
            </div>
        </div>
        <div class="two unit row">
            <div class="one unit column">
                <h5 class="pixel">19:00</h5>
            </div>
            <div class="unit column grows">
                <h4>Venue closes</h4>
            </div>
        </div>
    </div>
</section>
