<div component="home-link" rows="1.0"></div><br>

<h2>Sponsor Schedule</h2><br>
<h4>Saturday (19th January)</h4><br>
<table style="width:100%">
  <tr>
    <td>08:00</td>
    <td><span style="font-weight:700;">Doors Open / Registration Begins (Sponsors)</span></td>
    <td><em>Corn Exchange - Foyer</em></td>
  </tr>
  <tr>
    <td>09:00</td>
    <td><span style="font-weight:700;">Doors Open / Registration Begins (Hackers)</span></td>
    <td><em>Corn Exchange - Foyer</em></td>
  </tr>
  <tr>
    <td>11:00</td>
    <td><span style="font-weight:700;">Opening Ceremony</span></td>
    <td><em>Corn Exchange - Auditorium</em></td>
  </tr>
  <tr>
    <td>12:00</td>
    <td><span style="font-weight:700;">Hacking Begins</span></td>
    <td></td>
  </tr>
  <tr>
    <td>12:00</td>
    <td><span style="font-weight:700;">Lunch</span></td>
    <td><em>Guild Hall - Large Room</em></td>
  </tr>
  <tr>
    <td>13:00</td>
    <td><span style="font-weight:700;">Improbable Demo</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>13:15</td>
    <td><span style="font-weight:700;">Monzo Demo</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>13:30</td>
    <td><span style="font-weight:700;">TransferWise Demo</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>13:45</td>
    <td><span style="font-weight:700;">Microsoft Demo</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>14:00</td>
    <td><span style="font-weight:700;">TPP Demo</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>14:15</td>
    <td><span style="font-weight:700;">Amazon Demo</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>15:00</td>
    <td><span style="font-weight:700;">Microsoft Workshop</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>15:35</td>
    <td><span style="font-weight:700;">Avast Workshop</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>16:10</td>
    <td><span style="font-weight:700;">Graphcore Workshop</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>16:45</td>
    <td><span style="font-weight:700;">Improbable Workshop</span></td>
    <td><em>Guild Hall - Small Room</em></td>
  </tr>
  <tr>
    <td>19:00</td>
    <td><span style="font-weight:700;">Dinner</span></td>
    <td><em>Guild Hall - Large Room</em></td>
  </tr>
  <tr>
    <td>20:00</td>
    <td><span style="font-weight:700;">Sponsors Reception</span></td>
    <td><em>Corn Exchange - St John’s Room</em></td>
  </tr>
</table>
<br>

<h4>Sunday (20th January)</h4><br>
<table style="width:100%">
    <tr>
      <td>00:00</td>
      <td><span style="font-weight:700;">Midnight Snack</span></td>
      <td><em>Guild Hall - Large Room</em></td>
    </tr>
  <tr>
    <td>08:30</td>
    <td><span style="font-weight:700;">Breakfast</span></td>
    <td><em>Guild Hall - Large Room</em></td>
  </tr>
  <tr>
    <td>12:00</td>
    <td><span style="font-weight:700;">Hacking Ends</span></td>
    <td></td>
  </tr>
  <tr>
    <td>12:00</td>
    <td><span style="font-weight:700;">Lunch</span></td>
    <td><em>Guild Hall - Large Room</em></td>
  </tr>
  <tr>
    <td>13:00</td>
    <td><span style="font-weight:700;">Judge Briefing</span></td>
    <td><em>TBD</em></td>
  </tr>
  <tr>
    <td>13:30</td>
    <td><span style="font-weight:700;">Expo Begins</span></td>
    <td><em>Corn Exchange - Auditorium</em></td>
  </tr>
  <tr>
    <td>15:00</td>
    <td><span style="font-weight:700;">Finalists Announced</span></td>
    <td><em>Corn Exchange - Auditorium</em></td>
  </tr>
  <tr>
    <td>15:30</td>
    <td><span style="font-weight:700;">Finalist Presentations</span></td>
    <td><em>Corn Exchange - Auditorium</em></td>
  </tr>
  <tr>
    <td>16:15</td>
    <td><span style="font-weight:700;">Closing Ceremony</span></td>
    <td><em>Corn Exchange - Auditorium</em></td>
  </tr>
  <tr>
    <td>17:00</td>
    <td><span style="font-weight:700;">Event Ends</span></td>
    <td></td>
  </tr>
  <tr>
    <td>19:00</td>
    <td><span style="font-weight:700;">Venue Closes</span></td>
    <td></td>
  </tr>

</table>
