<app-home-link></app-home-link>
<section class="red">
    <div class="container a4">
        <div class="two unit row">
            <div class="unit column grows">
                <h1>Schedule</h1>
            </div>
        </div>
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Run-of-Show for Hack Cambridge</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container a4">
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Friday 19th January</h3>
            </div>
        </div>
        <div class="four unit row">
            <div class="unit column grows">
                <h4>10:00-18:00</h4>
                <p>
                    We will be setting up the venue. Sponsors are welcome to
                    deliver any equipment or swag on this day that they wish to
                    but <em>it must arrive between 10:00-18:00</em>, as they are
                    the only times we have the venue. We are unable to take
                    responsiblity for anything you leave overnight in the venue.
                </p>
                <p>
                    People can also come along to set up or look around the
                    venue, but please let us know in advance.
                </p>
            </div>
        </div>
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Saturday 20th January</h3>
            </div>
        </div>
        <div class="fourteen unit row">
            <div class="unit column grows">
                <ul><h4>08:00</h4>
                    <li>Doors open for sponsors to set up</li>
                    <li>You are welcome to arrive later if you wish</li>
                    <li>Previous schedule said 08:30, but it has been pushed back</li>
                    <li>All trestle tables will already be set up for you before you arrive</li>
                </ul>
                <ul><h4>09:30</h4>
                    <li>Doors open for hackers</li>
                    <li>We expect most hackers to arrive closer to 10am, but some will arrive early</li>
                    <li>Hackers tend to hang around the sponsors' area looking for swag between this time
                        and the opening ceremony. It is a good chance to speak to them at your stalls.
                    </li>
                </ul>
                <ul><h4>11:00</h4>
                    <li>Opening Ceremony happens in Corn Exchange main hall</li>
                    <li>Sponsors not participating are welcome to watch</li>
                    <li>Run of show:<br>
                        <ul>
                            <li>11:00—Welcome from Hack Cambridge Team</li>
                            <li>11:05—Cambridge Consultants presentation</li>
                            <li>11:10—Improbable presentation</li>
                            <li>11:15—MLH presentation</li>
                            <li>11:25—Mentoring System Explained</li>
                            <li>11:30—Microsoft presentation</li>
                            <li>11:35—Sophos presentation</li>
                            <li>11:40—Winding down presentation</li>
                            <li>11:45—Presentation ends</li>
                        </ul>
                    </li>
                </ul>
                <ul><h4>12:00</h4>
                    <li>Hacking starts</li>
                    <li>It is a good idea during hacking for
                        mentors to proactively speak to hackers and offer help</li>
                    <li>There will also be a ticketing system to match hackers
                        and mentors
                    </li>
                    <li>Lunch is served in Food Area until 13:00<li>
                    <li>This is right next to the
                        main sponsor stalls, so you should get a lot of
                        attention!
                    </li>
                </ul>
                <ul><h4>13:00</h4>
                    <li>Product Demos start</li>
                    <li>These happen in the Workshop Room
                        in the GuildHall, and are short tech-focussed talks
                    </li>
                    <li>We will announce these on stage just before each one begins</li>
                    <li>Schedule is not fixed, as not all sponsors have confirmed their slots:<br>
                        <ul>
                            <li>13:00—Amazon</li>
                            <li>13:15—Microsoft</li>
                            <li>11:30—Unconfirmed</li>
                            <li>11:45—Unconfirmed</li>
                            <li>14:00—Unconfirmed</li>
                            <li>14:15—Unconfirmed</li>
                            <li>14:30—Product Demos finish</li>
                        </ul>
                    </li>
                </ul>
                <ul><h4>14:40</h4>
                    <li>Workshops start</li>
                    <li>These happen in the Workshop Room
                        in the GuildHall, and are short tech-focussed talks
                    </li>
                    <li>Will announce these on stage just before each one starts</li>
                    <li>Schedule is not fixed, as not all sponsors have confirmed their slots:<br>
                        <ul>
                            <li>14:40—Google</li>
                            <li>15:15—Sophos (Unconfirmed)</li>
                            <li>15:50—Improbable</li>
                            <li>16:25—Cambridge Consultants</li>
                            <li>17:00—Microsoft</li>
                            <li>17:35—ARK.io</li>
                            <li>18:03—Workshops finish</li>
                        </ul>
                    </li>
                </ul>
                <ul><h4>18:45</h4>
                    <li>DataScope gives pre-dinner speech</li>
                    <li>15 minutes on the Main Stage</li>
                </ul>
                <ul><h4>19:00</h4>
                    <li>Dinner is served in the Food Area by sponsor stalls</li>
                    <li>Again, expect lots of footfall!</li>
                </ul>
                <ul><h4>20:00</h4>
                    <li>Sponsors' reception</li>
                    <li>This is our "thank you" to our
                        sponsors, where we will provide drinks and snacks
                    <li>In St John's bar, which is in the Corn Exchange</li>
                    <li>Hackers will be participating in the MLH Capture the Flag
                        competition
                    </li>
                </ul>
                <ul><h4>21:00</h4>
                    <li>TPP give a brief presentation on the Main Stage
                    </li>
                </ul>
                <ul><h4>21:15</h4>
                    <li>MLH run their !Light game
                    </li>
                </ul>
                <ul><h4>22:00</h4>
                    <li>Sleeping area opens for Hackers</li>
                    <li>This is next door to the sponsors' stalls and Food Area
                    </li>
                    <li>Many hackers will choose to work through the night
                        instead</li>
                </ul>
                <ul><h4>23:45</h4>
                    <li>FeatureSpace give their Midnight Snack speech</li>
                    <li>15 minutes on the Main Stage</li>
                </ul>
            </div>
        </div>
        <div class="two unit row">
            <div class="unit column grows">
                <h3>Sunday 21st January</h3>
            </div>
        </div>
        <div class="seven unit row">
            <div class="unit column grows">
                <ul><h4>00:00</h4>
                    <li>Midnight Snack. Pizza will be given to hackers in the
                        Food Area.
                    </li>
                    <li>Mentors are not expected to stay all night. You can
                        stay if you wish, or leave well before this time.
                        We recommend mentors be back for 09:00 since people are
                        likely to want assistance in the final few hours leading
                        to their project completion.
                    </li>
                </ul>
                <ul><h4>08:30</h4>
                    <li>Breakfast is served to hackers
                    </li>
                </ul>
                <ul><h4>11:00</h4>
                    <li>Accenture give a short presentation</li>
                    <li>Main Stage</li>
                </ul>
                <ul><h4>12:00</h4>
                    <li>Hacking stops</li>
                    <li>Judging briefing starts for sponsors in St John's bar,
                        within the Corn Exchange. Here, we will explain how
                        judging works to sponsors who want to participate.
                    </li>
                    <li>Lunch is served to hackers</li>
                    <li>Hacking room is set up for expo</li>
                </ul>
                <ul><h4>12:45</h4>
                    <li>Expo starts</li>
                    <li>Sponsors and Hack Cambridge team begin judging</li>
                </ul>
                <ul><h4>14:15</h4>
                    <li>Expo finishes</li>
                    <li>Finalists are announced</li>
                </ul>
                <ul><h4>14:30</h4>
                    <li>Finalists give their presentations</li>
                </ul>
                <ul><h4>16:00</h4>
                    <li>Headline judges choose winners and runners up</li>
                </ul>
                <ul><h4>16:15</h4>
                    <li>Closing ceremony begins. Timings are still being decided.<br>
                        <ul>
                            <li>16:15—Event summary</li>
                            <li>16:20—Amazon: Alexa prize</li>
                            <li>16:30—Unconfirmed. Waiting on sposnors to provide
                                further information about prizes.</li>
                            <li>16:45—Hack Cambridge winners announced</li>
                            <li>17:00—End</li>
                        </ul>
                    </li>
                </ul>
                <ul><h4>17:00</h4>
                    <li>Event finishes and hackers leave</li>
                    <li>Venue is completely closed to hackers at 18:00</li>
                </ul>
                <ul><h4>17:30</h4>
                    <li>Clean-up begins</li>
                </ul>
                <ul><h4>19:00</h4>
                    <li>Venue closes to all</li>
                </ul>
            </div>
        </div>
    </div>
</section>
