<app-home-link></app-home-link>
<app-changes-saved></app-changes-saved>
<section class="red">
    <div class="container width">
        <div class="one unit row">
            <h1>Swag</h1>
        </div>
        <div class="one unit row">
            <h3>What swag do you intend to bring?</h3>
        </div>
        <div class="one unit row">
            <div class="twelve unit column">
                <p>
                    Let us know what swag you want to bring so we can plan ahead.
                    All swag requires approval simply to ensure we have a good
                    spread of swag rather than 10 of the same thing!
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container width">
        <div class="one unit row">
            <h2>List Your Swag</h2>
        </div>
        <div class="one unit row">
            <h3>We can order swag for you.</h3>
        </div>
        <div class="one unit row">
            <div class="twelve unit column">
                <p>
                    <strong>We can order swag for you</strong> for no fee -
                    we will simply invoice you exactly what our supplier charges
                    for the items. Please tick the "Order This For Us" next to
                    the relevant items of swag in the form below for anything
                    you would like us to order for you.
                </p>
            </div>
        </div>
        <div class="one unit row">
            <h3>You may list as many pieces of swag as you want.</h3>
        </div>
        <div class="one unit row">
            <div class="twelve unit column">
                <p>
                    We have found that hackers tend to prefer a smaller number
                    of useful and good quality swag, rather than lots of small
                    or novelty items. Items in the past which went down well
                    include umbrellas, mugs, bags and powerbanks.
                </p>
            </div>
        </div>
        <div class="half unit row">
            <fieldset>
                <input type="button" value="Add Swag Item." (click)="addSwag()">
            </fieldset>
        </div>
        <div class="half unit row" *ngFor="let swag of swagList; let i = index">
            <fieldset>
                <input type="text" [(ngModel)]="swagList[i].name" placeholder="Name">
                <input type="text" [(ngModel)]="swagList[i].description" placeholder="Description">
                <label>
                    <input type="checkbox" [(ngModel)]="swagList[i].orderByUs">
                    Order This For Us
                </label>
                <input type="button" value="Delete." (click)="deleteSwag(i)">
            </fieldset>
        </div>
        <div class="one half unit row">
            <app-home-button class="one unit column">
            </app-home-button>
        </div>
    </div>
</section>
