<div component="home-link" rows="1.0"></div>
<h1 rows="1.0">Tips and Tricks</h1>
<h3 rows="1.0">Tips from previous experience</h3>
<p rows="1.5">
    Hack Cambridge is going to be an amazing event, and you as a 
    sponsor are going to allow that to happen. These are tips
    accumulated from the Hack Cambridge
    team's experiences in previous years, which we hope
    will help you get the most out of your sponsorship.
</p>
<h3 rows="1.0">What’s it all about?</h3>
<div rows="6.5" class="text-columns" text-columns="3">
  <p>
    Students attend Hack Cambridge from all over the world. They
    come to learn new tech, meet like-minded people and produce
    amazing new things. Hack Cambridge is a place where hackers
    collaborate, learn, and most of all, have fun! We encourage
    friendly competition, not fierce rivalry. As sponsors, you
    make this all happen—so thank you!
  </p>
  <p>
    You can really influence hackers' experiences and form a
    lasting impression amongst the next generation of engineers.
    We are selective about who comes, and so are confident that
    you will find some of the brightest and keenest engineers
    here and cannot wait for you to meet them. That said, whilst
    most hackers will be looking for jobs this year or next,
    they won't be treating the event like a recruitment fair.
    They will of course speak to recruiters, take business cards
    and leaflets; they will be looking out for companies they
    may want to work for in the future; but they also will be
    spending 24 hours intensely building cool software and
    learning new tech. People who attend hackathons are
    amongst the the keenest techies out there, so tech is the
    content that will most resonate with them.
  </p>
  <p>
    The quality of mentors and engineers really does influence
    attendees' perception of companies. In the past we have had
    feedback from hackers who have been extremely impressed by
    mentors from particular companies, and have then indicated
    their interest in working in a similar team; they can also
    be impressed by good workshops which show off what you do.
    By being at a hackathon, you already send out a message that
    you are proactive, have a strong engineering culture, and
    are interested in graduates. You are gaining mindshare ahead 
    of many other companies, and can really get hackers enthused
    about the tech you produce. By providing you with attendess'
    CVs, we hope you are also able to continue the relationship
    with hackers after the event, following on from interaction
    at the hackathon. We hope these tips help you get the most
    out of the event!
  </p>
</div>
<h3 rows="1.0">Making the most of mentors</h3>   
<div rows="5.5" class="text-columns">
  <p>
    Mentors are incredibly valuable to us as they can
    dramatically speed up hacker's development time by
    short-circuiting the process of finding the right
    technology, squashing time-consuming bugs much faster and by
    speeding up the ideation process. As a sponsor, mentorship
    is valuable for you because a good mentor experience will
    provide a long-lasting impression about your company, often
    stronger than any ad or recruitment speech can.
  </p>
  <p>
    Mentors should be technically focused people &mdash;
    software engineers, developers and the like. Their primary
    concern is to help hackers with technical issues, though they
    may also discuss the your company and your products. We
    recommend sending
    developers whose expertise covers a wide range of
    technical areas, and certainly ones who are knowledgeable
    about any software or hardware you have listed with us.
    The most important thing a mentor should remember is to be
    proactive. Hackers will often be shy and reluctant to ask
    for help when they're having problems.
  </p>
  <p>
    Mentors can also opt-in to the judging period of the
    hackathon, where they get to interview teams on what they
    have created and score them to allow us to decide on a
    winner.
  </p>
  <p>
    To aid with hacker-mentor discovery, we will set up a Slack
    service and provision one channel for each sponsor. We will
    also deploy a hackathon-specific ticketing system called
    HELPq, where hackers request help and are paired with
    mentors.
</div>
<h3 rows="1.0">Making the most of demos and workshops</h3>  
<div rows="4.0" class="text-columns">
  <p>
    Workshops and product demos are especially useful to hackers
    who aren't sure what they're creating or
    are new to hackathons and developing in general. As
    short-sighted as this may seem, hackers often look
    for workshops that will aid them in their hackathon project
    rather than something that will help them after the event.
    We will be promoting the talks heavily, but ultimately it is
    you who must ensure that your presentation sounds compelling
    enough to persuade hackers to put down their projects and
    come listen! If you want to run ideas past us we are more
    than happy to discuss them with you. Talks discussing
    currently 'hot' topics always do well, which for Ternary
    would likely include machine learning, AI, and blockchain.
  </p>
  <p>
    Workshops and demos will occur in a dedicated room
    outside of the main hall, where we will provide a projector
    for you to present on via HDMI. Product demos and workshops
    are 10 minutes and 30 minutes respectively, occuring on
    the Saturday afternoon. We will release an exact schedule
    once we have received workshop details from all sponsors.
  </p>
</div>
<h3 rows="1.0">Making the most of swag</h3>                
<div rows="6.5" class="text-columns">
  <p>
    Swag can draw hackers to your recruitment stand, and in the
    longer term be an effective long-term reminder to a hacker
    about a company after the event. Our experience indicates the swag
    which gets the best response are things useful in day-to-day
    life, rather than novelty items or trinkets. For example,
    one previously sponsor distributed umbrellas and people
    still used them on a daily basis a year later whilst
    commenting on their usefulness and durability.
  </p>
  <p>
    We recommend you send <b>400</b> of each item of swag. This
    ensures we definitely have enough and leftover can be taken
    back with you. This is especially important for clothing
    where it is hard to predict sizes!
  </p>
  <p>
    T-shirts and hoodies are always popular, and we will welcome
    as many as you want to send! However, the reason we do ask
    you to run swag past us is to ensure we have a good spread.
  </p>
  <p>
    We will pack all swag except clothing into hackers' swag
    bags if they are sent to us in time. Clothing will be
    distributed by hand so people get their size.
  </p>
  <h4>Swag suggestions</h4>
  <ul>
    <li>Umbrellas</li>
    <li>Memory sticks</li>
    <li>Stress balls</li>
    <li>Notepads</li>
    <li>Wallets</li>
    <li>Bags, rucksacks</li>
    <li>Onesies</li>
    <li>Mugs</li>
    <li>Socks</li>
    <li>Gloves, scarfs</li>
    <li>Bike lights</li>
    <li>Bike seat covers</li>
    <li>Stickers</li>
  </ul>
</div>
<h3 rows="1.0">Making the most of competitions</h3>
<div rows="6.0" class="text-columns">
  <p>
    Competitions can really make your company stand out, giving
    incentive for hackers to use your products and interact
    with your team. We recommend that competitions be open-ended
    enough to fit into a variety of projects, rather than a
    very specfic task. For example, a competition for the best
    use of a particular API; or a challenge to analyse a piece
    of data the best.
  </p>
  <p>
    We discourage expensive prizes such as laptop—the
    atmosphere of the event is
    intended to be a friendly and collaborative get-together
    rather than an opportunity to grab expensive new toys. Suitable
    prizes include Amazon vouchers; free
    subscriptions to commercial software; or relatively
    low-value devices like Raspberry Pis and GoPros. We believe that
    hackers participating out of raw enthusiasm will produce more interesting hacks,
    rather than simply aiming to fill judging criteria.
  </p>
  <p>
    This is a great opportunity to form relationships with
    talented developers who have shown an interest in what you
    do. Extending further training schemes or getting in touch
    about internship opportunities to prize winners and
    runner-ups has worked for companies in past hackathons.
  </p>
  <p>
    Do ensure you come up with a judging plan beforehand. Make
    sure you have set criteria and set aside time at the end of
    the event for mentors to not only check out the submissions
    for the prize but also to interview the hackers.
    Interviewing them allows you to not only see more about
    their submission but to also see what they are like as
    developers, and gain insightful feedback about how they as
    users found using your API. Hackers will also get a very
    positive impression of companies who take an active role in
    seeking out hackers working on their APIs and offering
    advice, so do take time to talk to them throughout the
    event.
  </p>
</div>
